/test
/.vscode
/node_modules
/app
/build
/dist
/public
.eslintrc
.hintrc
/electron/node_modules
/electron/support
/electron/data/*
!/electron/data/*example*
/electron/**/*.js
build.ts
build_electron.ts