node_modules
.vscode/*
/test
/dist
/public
/bin
/data
/backup
/build
bin/
obj/
*.pfx
package-lock.json
.env
electrobun.config.ts
artifacts
assets
electrobun
release
.zigversion
tsconfig.tsbuildinfo
temp_electrobun.config.ts
.vite-dev-url
/apikeys